.create-course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.create-course-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.create-course-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.create-course-field {
  margin-bottom: 15px;
}

.create-course-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.create-course-input,
.create-course-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

.create-course-authors {
  display: flex;
  justify-content: space-between; /* Align lists to the left and right */
  align-items: flex-start; /* Align lists to the top */
  margin-bottom: 15px;
}

.new-author-list,
.available-author-list {
  flex: 1; /* Distribute available space equally between the lists */
}

.available-author-list ul {
  max-height: 200px; /* Set a max height for scrollable area */
  padding: 10px;
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
}

.list-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.author-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items within author-item */
  width: 100%; /* Equal width distribution */
  margin-bottom: 5px;
}

.author-name {
  font-weight: bold;
  margin-right: 5px;
}

.create-course-field .create-add-author-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-course-field .create-add-author-button:hover {
  background-color: #0056b3;
}

.error-list {
  margin-bottom: 15px;
  color: red;
}

.error-item {
  margin: 5px 0;
}

.button-list {
  display: flex;
  justify-content: space-between;
}

.create-course-create-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.create-course-create-button:hover {
  background-color: #0056b3;
}

.create-course-back-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.create-course-back-button:hover {
  background-color: #b3b3b3;
}

